 <h2 style="font-family:helvetica">Event Details</h2>

 <br>

  <table class="table table-striped">
    <tbody>
  
      <tr>
        <th>Event Name</th>
        <th>{{model.name}}</th>
      </tr>
        <tr>
        <th>Location</th>
        <th>{{model.location}}</th>
      </tr>
        <tr>
        <th>Room Number</th>
        <th>{{model.roomNumber}}</th>
      </tr>
        <tr>
        <th>Event Day</th>
        <th>{{model.eventDay}}</th>
      </tr>
        <tr>
        <th>Event Time</th>
        <th>{{model.eventTime}}</th>
      </tr>
        <tr>
        <th>Description</th>
        <th>{{model.description}}</th>
      </tr>
      

    </tbody>
  </table>