<style>
     #frontPage {
        padding: 30px 0 10px 0;
    }

    .center-div {
        margin: 0 auto;
        width: 100%;
    }
    .centerBlock {
        display: table;
        margin: 0 auto;
    }
    .thumbnail {
        margin-top: 30px;
        margin-bottom: 10px;
    }
</style>

<div class="row" style="text-align:center;">
   {{#each model as |event|}} 

    <div class="col-xs-3 col-md-3">
        <div class="centerBlock">
            <a href="/events" class="thumbnail" style="height:180px; width:171px;"></a>
        </div>
     {{#link-to 'event' event class='event-link'}}{{event.name}}{{/link-to}}
    </div>
    {{/each}}
</div>

       <!-- Modal
         <div class="modal fade" id="{{event.name}}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content
      <div class="modal-content">
      
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{event.name}}</h4>
        </div>
        
        <div class="modal-body">
          <p>{{event.location}}</p>
          <p>{{event.roomNumber}}</p>
          <p>{{event.eventDay}}</p>
          <p>{{event.eventTime}}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
      
    </div>

  </div>
   End Modal-->





